# REQUIRED CONFIG
BOT_TOKEN = "5067735024:AAHBwuZrRKRLD6z6BZ-LB2GvfcRmXB3m93w"
GDRIVE_FOLDER_ID = "1X8cUBn8FEUkjYitVLT8YchiYp6XPsrHd"
OWNER_ID =1101892352
DOWNLOAD_DIR = "/usr/src/app/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 4
AUTO_DELETE_MESSAGE_DURATION = -1
IS_TEAM_DRIVE = "True"
TELEGRAM_API = 2537253
TELEGRAM_HASH = "7d5fb59664debb2cd61b9393ce0cb280"
# OPTIONAL CONFIG
DATABASE_URL = ""
AUTHORIZED_CHATS = "-1001540058922 -1001531334973 -1001474044211 -1001682270257"  # Split by space
SUDO_USERS = ""
IGNORE_PENDING_REQUESTS = "False"
USE_SERVICE_ACCOUNTS = "True"
INDEX_URL = "https://motionpictures.ga/0:/Bot%20Uploads"
STATUS_LIMIT = ""
STOP_DUPLICATE = "True"
CMD_INDEX = ""
UPTOBOX_TOKEN = ""
TORRENT_TIMEOUT = ""
EXTENTION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = "True"
# Update
UPSTREAM_REPO = ""
UPSTREAM_BRANCH = ""
# Leech
TG_SPLIT_SIZE = ""
AS_DOCUMENT = "True"
EQUAL_SPLITS = ""
CUSTOM_FILENAME = "@mhjoybots"
# qBittorrent
BASE_URL_OF_BOT = ""
SERVER_PORT = ""
WEB_PINCODE = ""
QB_SEED = "False"
# RSS
RSS_DELAY = "60"
RSS_COMMAND = "/qbleech"
RSS_CHAT_ID = "-1001784880970"
USER_SESSION_STRING = "BQBH6xupX-utsqtJ_guUBfwEvMW6rW2X1JINKl3DLHyoBKFUlTuB7n_1cOd0HVlIFicAQLY9xVZR1dD58OvoQpg9dC4nB_UXmiVB5rZ33MfDR9cFUdHxYzkB20TmqsvyQntOSDu79lLd8pRirDxVTzJKewZKw88op8J1GGZ1mK229jk_cMIXKRAUPw03-JLMzhqAbCbOMNO3AVkqXBDqb_2-D5pJF4COoT2EdrENKrSjhIFPqZHAYxqaQWLvrU94RNkOjlPM5pvednIJ_2DeZbZZM1hPhyLHfMgD38kOCm75y90m0pbZBX-uQer-XO4Z9CO_rk3MJIgoTNW-dqIFXoFJc6iVcwA"
# Private Files
ACCOUNTS_ZIP_URL = "https://gsuite-test.motionpictureban1.workers.dev/3:/@mhjoybots%20Bots/jackmortenbot1/accounts.zip"
TOKEN_PICKLE_URL = "https://gsuite-test.motionpictureban1.workers.dev/3:/@mhjoybots%20Bots/jackmortenbot1/token.pickle"
MULTI_SEARCH_URL = ""
YT_COOKIES_URL = ""
NETRC_URL = ""
# Mega
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
# Shortener
SHORTENER = ""
SHORTENER_API = ""
# GDTOT COOKIE
CRYPT = "TTh3amNaWVhhSm93QjYvWi9qN3E0dkNWRE9XYi9DcnkySzMyd0cwVlpLRT0%3D"
# Buttons
VIEW_LINK = "True"
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
